// Strat Blog Section 
section#blog.smoth-section.blog
	//Section title
	+sectionTitle("latest news",'blog')
	.container
		.row
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/1.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4  How to become a freelancer
							a(href='#').blog-link
								i.fa.fa-plus

			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/2.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4 Marketing Strategy tips
							a(href='#').blog-link
								i.fa.fa-plus
			
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/3.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4 create a wordpress theme
							a(href='#').blog-link
								i.fa.fa-plus
			
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/4.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4  top books for web developers
							a(href='#').blog-link
								i.fa.fa-plus

			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/5.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4  top tools for web designers
							a(href='#').blog-link
								i.fa.fa-plus
			
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/6.jpg' alt='')
					.blog-body
						.blog-info.clearfix
							span.blog-date
								i.fa.fa-calendar
								|  20/10/2020
							span.blog-author by
								a(href='#').author-link  admin
						.blog-title
							h4 web design inspiration
							a(href='#').blog-link
								i.fa.fa-plus


		
		


						
							
		.row
			.col-sm-12.d-flex.justify-content-center
				a(href='#').more-blog view more

// End Blog Section 