// Start Hero Section 

section#home.smoth-section.hero
  .overlay
  .intro
    .container
      h1 i'm 
        span z.one
      h4 web 
        span.typed
        span.typed-cursor 

      a(href='#').intro-button hire me
        
  .social
    a(href='').social-link
      i.icon.fa.fa-facebook
    a(href='').social-link
      i.icon.fa.fa-twitter
    a(href='').social-link
      i.icon.fa.fa-youtube-play
    a(href='').social-link
      i.icon.fa.fa-google-plus

        




// End Hero Section 
