// Start Services Section

section#services.smoth-section.services

	//-Section Title
	+sectionTitle("see our new services",'services')

	//- Service
	.container
		.row
			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-desktop.ser-icon
					h5.ser-title web development
					hr.hr-line
					p.ser-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-code.ser-icon
					h5.ser-title web design
					hr.hr-line
					p.ser-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-id-card.ser-icon
					h5.ser-title logo design
					hr.hr-line
					p.ser-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-camera.ser-icon
					h5.ser-title responsive design
					hr.hr-line
					p.ser-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-envelope-open.ser-icon
					h5.ser-title designe
					hr.hr-line
					p.ser-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-user.ser-icon
					h5.ser-title support
					hr.hr-line
					p.ser-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam


// End Services  Section