 /*Start Blog Section */
.blog {

  padding: $sec-padding;
  background-color: $first-color;


  .singel-blog {
		transition: .3s;
		cursor: pointer;
		margin-bottom: 30px;
		background-color: $second-color;
		color: $white-color;

		&:hover{
			box-shadow: 0 2px 6px rgba($second-color,.8);
		}

		

		.blog-image {
			position: relative;
			transition: .3s;
			overflow: hidden;

			&:before {
				content: '';
				transition: .3s;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 0;
				background-color: rgba($first-color, .7);
			}

			img {
				width: 100%;
				@include Transition(all,.5s,ease);

				&:hover{

					transform: scale(1.1);
				}
			}

		}

		.blog-body {

			padding: 10px 10px 20px;


			.blog-info {
				padding: 15px 0;
				font-size: 14px;
				text-transform: capitalize;
				font-size: 12px;

				

				.blog-date {

					float: left;
					position: relative;
					font-size: 13px;

				}
				.blog-author{

					float: right;
					.author-link{

						font-weight: bold;
						color: $white-color;
						text-decoration: none;
					}
				}
			}


			.blog-title {
				padding: 15px 0 0;
				position: relative;
				border-top: 1px solid rgba($first-color, .7);


				h4 {
					text-transform: capitalize;
					transition: .3s;
					font-size: 1.3rem;
					
					@media(max-width: 992px) {

						font-size: 1.1rem;
					};
				
				}
				.blog-link {

					text-decoration: none;
					position: absolute;
					top: 45%;
					right: 1%;

					i{
						display: inline-block;
						width: 30px;
						height: 30px;
						line-height: 30px;
						color: $second-color;
						background-color: $first-color;
						border-radius: 50%;
						text-align: center;
						@include Transition(all,.3s,ease-in-out);
						
						&:hover{
							color: $theme-color;
							background-color: $white-color;
						}

					}

				}

			}

			
		}

	}

	.more-blog {

		@extend %theme-button;
		margin: 15px 0;

	}
}


/* End Blog Section */