mixin sectionTitle(subheading,heading)
	.container
		.row
			.col-sm-12
				.section-title
					h5.section-subheading  #{subheading}
					h3.section-heading  #{heading}

				//.section-head-placehoder
					h2.sec-placehoder #{heading}







